* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px #5A00ff inset !important;
    -webkit-text-fill-color: #fff !important;
    transition: background-color 5000s ease-in-out 0s;
}

body {
  font-family: Arial, sans-serif; 
}

.container {
  color: white;
  background-color: #5A00ff;
  min-height: 100vh;
  text-align: center;
}

.header {
  max-width: 50%;
  padding-top:24px;
  margin-left: auto;
  margin-right: auto;
}

.header h1 {
  font-size: 2.5rem; 
  margin-top: 15px;
  font-family: 'Rubik', sans-serif;
  color: white;
  font-weight: bold;
}

.header p {
  font-size: 1.1em;
  margin-top: 25px;
  color: #d0bcff;
  font-weight: 100;
}
.header h4 {
  font-size: 0.7em;
  margin-top: 20px;
  line-height: 14px;
  letter-spacing: 1px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

/* Flex container for input and button */
.flex-container {
  display: flex;
  width: 25%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  position: relative;
  border: 1px solid white;
  border-radius:50px;
  padding-left: 14px;
  padding-top: 14px;
  padding-bottom: 14px; 
}

.input-field {
  background-color: #5A00ff; 
  color: white;
  font-size: 0.875rem; 
  border: none;
  outline: none; 
}
.input-field::placeholder {
  color: white;
  font-size: 0.7rem; 
  font-weight: 100;
}
.button-image {
  position: absolute;
  right: 8px; 
  padding: 3px 6px; 
  border-radius: 90%; 
  cursor: pointer;
  background-color: white; /* override bg-white */
  color: white;
}

.message{
  margin-top: 5px;
  font-size: 12px;
  letter-spacing: 0.5px;
  font-weight: 300;
  color: #d0bcff;
}

/* For larger screens */



.content {
  display: flex;
  justify-content: center;
  overflow-x: auto;
  gap: 20px;
  margin-top: 25px;
  padding: 20px;
}

.card {
  border-radius: 8px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px;
  width: 320px; 
  cursor: grab;
}

.card img {
  width: auto;
  max-height: 304px; 
  object-fit: contain;
}

.card-text {
  font-family: 'Inter', sans-serif; 
  margin-bottom: 8px;
  font-weight: bold;
  color: black;
  font-size: 18px; 
}

.card-text.top {
  margin-top: 8px;
}
.bottom-text{
  color:#d0bcff;
  font-size: large;
  line-height: 24px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Footer styles */
.footer {
  background-color: #211f26 ;
  width: 100%;
  height: 140px; 
  text-align: center;
  margin-top: 30px; 
  display: flex;
}

.footer-container {
  display: flex;
  flex-direction: column;
  padding: 24px; 
  width: 100%;
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-logo {
  width: auto;
  height: 27px;
}

.footer-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer-info p {
  font-family: 'Inter', sans-serif;
  color: #cac4d0; /* Assume text-textFieldColor is a light grey color */
  font-size: 12px; /* text-xs */
  margin-left: 8px; /* ml-2 */
}

.footer-links {
  display: flex;
  flex-direction: row;
  gap: 20px; /* space-x-5 where 1 unit is 4px */
  margin-top: 12px; /* mt-3 */
}

.footer-link {
  color: #d0bcff; /* Assuming text-primary is a blue color */
  font-size: 12px; /* text-xs */
  font-weight: normal;
  font-family: 'Inter', sans-serif;
  text-decoration: none;
}

.footer-copy {
  color:  #d0bcff; /* Assuming text-primary is a blue color */
  font-size: 11px;
  font-weight: 300;
  letter-spacing: 0.5px;
  margin-top: 24px; /* Approximate conversion */
  font-family: 'Inter', sans-serif;
}


@media (min-width: 768px) {
  .input-field::placeholder {
    font-size: 0.875rem; /* 14px for text-sm */
  }
}
