html, body {
    height: 100%; /* Ensure the html and body take up at least the full height of the viewport */
    margin: 0;  /* Reset default margin */
    display: flex;
    flex-direction: column; /* Stack children elements vertically */
  }